= render partial: "sidebar"

.content
  = render partial: "topbar"
  .content__chats
    - @group.chats.order("created_at DESC").each do |c|
      .content__chats__top
        .content__chats__top__name ryoya
        .content__chats__top__time #{c.created_at}
      - if c.message.present?
        .content__chats__message #{c.message}
      - if c.image.present?
        .content__chats__image
          = image_tag "#{c.image}"

  .content__send
    = form_for @chat, url: group_chats_path do |f|
      .content__send__message
        =f.text_field :message, placeholder:"type a message", class: "field"
      .content__send__image
        =f.label :image, class:"fa fa-photo" do
          =f.file_field :image, style: "display:none"
      .content__send__submit
        =f.submit "Send", class: "button"
